.Heading {
  text-align: center;
  color: red;
  font-size: 4.5rem;
  margin-top: 2rem;
}

.infotext {
  text-align: left;
}

.info {
  margin: 20px auto;
  font-size: 1.5rem;
  color: #4D4D4D;
  max-width: 800px;
  padding: 0 1rem;
}

.voucherContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.voucher {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .Heading {
      font-size: 3rem;
  }

  .info {
      font-size: 1.2rem;
  }

  .voucherContainer {
      width: 100%;
      margin-left: 0;
      padding: 0 0.5rem;
  }

  .voucher {
      max-width: 100%;
  }
}
