.faqcontainer {
  font-family: sans-serif;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.faqtitle {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: red;
}

.faqsection {
  margin-bottom: 40px;
  text-align: left;
}

.faqsection h2 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  color: #333;
}

.faqsection ul {
  list-style-type: none;
  padding: 0;
}

.faqsection li {
  margin-bottom: 10px;
  font-size: 1em;
}

.faqcta {
  font-size: 1.5em;
  margin-top: 2cm;
  color: #333;
  text-align: center;
  padding: 2rem 0;
  background-color: gray;
}

.line {
  margin-bottom: 25px;
  border: none;
  border-top: 2px solid black;
}

@media screen and (max-width: 768px) {
  .faqsection h2 {
      font-size: 1.2em;
      margin-bottom: 1rem;
  }

  .faqcta {
      margin-top: 1cm;
  }
}
