/* src/components/Product.css */

.latestproduct-card {
    width: 100%;
    max-width: 350px;
    height: auto;
    border: 1px solid #e0e0e0;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 10px auto;
}

.latestproduct-card img {
    width: 100%;
    height: auto;
}

.latesttitleContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
    padding: 0 10px;
}

.latesttitleContainer h3 {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: left;
}

.latestlikeImgContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px 20px;
}

.latestlikeImg {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.latestproduct-card p {
    color: #555;
    font-size: 1.2em;
    margin: 15px;
    text-align: left;
}

.add-to-cart-btn {
    width: 100%;
    max-width: 200px;
    background-color: #fff;
    border: 1px solid #555;
    color: #555;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.latestproduct-card.hover {
    border-color: #ff0000;
}

.latestproduct-card.hover .add-to-cart-btn {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}

@media (max-width: 768px) {
    .latesttitleContainer h3 {
        font-size: 1.1em;
    }

    .latestlikeImgContainer {
        padding: 10px;
    }

    .add-to-cart-btn {
        padding: 8px 16px;
    }
}
