/* src/components/Product.css */

.handwoven-card {
    width: 100%;
    max-width: 350px;
    height: 620px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 10px;
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

.handwoven-card img {
    width: 100%;
    height: auto;
}

.handwoventitleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    margin-top: 20px;
    padding: 0 10px;
}

.handwoventitleContainer h3 {
    font-size: 1.2em;
    margin: 10px 0;
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

.handwovenlikeImgContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.handwovenlikeImg {
    max-width: 100%;
    height: auto;
}

.handwoven-card p {
    color: #555;
    font-size: 1.2em;
    margin: 15px;
    text-align: left;
}

.handwovenadd-to-cart-btn {
    width: 100%;
    background-color: #fff;
    border: 1px solid #555;
    color: #555;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

.handwoven-card.hover {
    border-color: #ff0000;
}

.handwoven-card.hover .handwovenadd-to-cart-btn {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}

@media (max-width: 768px) {
    .handwoven-card {
        max-width: calc(50% - 20px);
        margin: 10px;
    }

    .handwoventitleContainer {
        height: auto;
        padding: 10px;
    }

    .handwoventitleContainer h3 {
        font-size: 1em;
        padding-left: 0;
    }

    .handwovenadd-to-cart-btn {
        width: 100%;
    }
}
