.footer {
  background-color: white;
  color: #292727;
  text-align: center;
  font-family: 'Arial', sans-serif;
  width: 100%;
  bottom: 0;
}

.footerInfo {
  background-color: #f7f5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 100px;
}

.mainFooter {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: white;
  color: #292727;
  padding: 20px;
}

.contact-section1 {
  padding-bottom: 10px;
}

.paymentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.thanks {
  background-color: #f7f5f6;
  padding: 10px;
  margin-bottom: 10px;
}

.copyright {
  background-color: #323d34;
  color: white;
  padding: 10px;
}

.footerLinks {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}

.greyFont {
  color: grey;
  font-size: 12px;
  padding-bottom: 5px;
}

.heading {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1.2;
  padding-bottom: 15px;
}

.inputEmail {
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin-bottom: 10px;
}

.subscribeButton {
  width: 100%;
  max-width: 100px;
  height: 50px;
  background-color: #323d34;
  color: white;
  margin-bottom: 10px;
}

.infoIcons {
  width: 30px;
  height: auto;
  padding: 5px;
}

.paymentIcons {
  width: 30px;
  height: auto;
  padding: 5px;
}

.socialMediaIcons {
  width: 20px;
  height: auto;
  padding: 5px;
}

.jijivishaLogo {
  width: 150px;
  height: auto;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footerInfo {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
  }

  .mainFooter {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: left;
      padding: 40px;
  }

  .thanks {
      padding: 10px 20px;
  }

  .footerLinks {
      display: inline-block;
      margin-bottom: 0;
  }

  .subscribeButton {
      width: auto;
      margin-bottom: 0;
  }

  .infoIcons,
  .paymentIcons,
  .socialMediaIcons {
      width: 40px;
      padding: 8px;
  }

  .jijivishaLogo {
      width: 200px;
      padding-bottom: 20px;
  }
}
