/* src/components/ProductList.css */

.dressproduct-list {
  max-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.dresslistContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: nowrap;
  width: 100%;
  scroll-snap-align: start;
}

.dressslidingInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3cm;
}

.dressproductBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.dressproductBar p {
  margin: 5px 30px;
  padding: 15px;
}

.dressproductBar p:hover {
  color: #ff0000;
  cursor: pointer;
}

button.dressprevButton,
button.dressnextButton {
  max-width: 2%;
  max-height: 2%;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1;
}

.dressprevButton {
  left: 7%;
}

.dressnextButton {
  right: 7%;
}

button.dressprevButton img,
button.dressnextButton img {
  width: 40px;
  height: 40px;
}

.dressprevButton img:hover,
.dressnextButton img:hover {
  filter: brightness(20%);
}

.dressviewAllText {
  position: absolute;
  color: #ff0000;
  right: 5%;
  transform: translateY(80%);
}

.dressviewAllText:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .dressproduct-list {
      flex-wrap: wrap;
      justify-content: center;
      overflow-x: hidden;
  }

  .dresslistContainer {
      width: 90%;
      margin: 10px;
  }

  .dressproductBar {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
  }

  .dressprevButton,
  .dressnextButton {
      display: none;
  }

  .dressviewAllText {
      position: relative;
      transform: translateY(0%);
      margin-top: 10px;
      text-align: center;
  }
}
